:root{
    --primary-color: #007af3;
}

body{
    background-color: #f2f2f2;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

// navbar css 

.navbar{
    background-color: white;
    padding: 1em;

    .logo{
        text-decoration: none;
        font-weight: bold;
        color: black;
        font-size: 1.2em;

        span{
            color: var(--primary-color);
        }
    }
    nav{
        display: none;
    }
    
    .container{
        display: flex;
        place-content: space-between;
    }

    .mobile-menu{
        cursor:pointer;
    }
}

a{
    color: #444444;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section{
    padding: 5em;
}

.hero{
    text-align: center;
}

.left-col{

    .subhead{
        text-transform: uppercase;
        font-weight: bold;
        color: gray;
        letter-spacing: 0.3em;
    }
    h1{
        font-size: 2.5em;
        line-height: 1.3em;
        margin-top: 0.23em;
    }

    .primary-cta{
        background-color: var(--primary-color);
        text-decoration: none;
        padding: 0.6em 1.3em;
        font-size: 1.4em;
        border-radius: 5em;
        font-weight: bold;
        display: inline-block;
    }

    .watch-video-cta{
        display: block;
        margin-top: 1em;

        img{
            margin-right: 0.5em;
        }
    }
}

.hero-img{
    width: 70%;
    margin-top: 3em;
}

section.features{
    background-color: #20272e;
    color: white;
}

ul.features-list{
    margin: 0;
    padding-left: 0.1em;
    // come back to this 

    li{
        font-size: 1.1em;
        margin-bottom: 1em;
        margin-left: 2em;
        position: relative;

        &:before{
            content: '';
            position: absolute;
            left: -2em;
            width: 20px;
            height: 20px;
            background-image: url('../images/bullet.svg');
            background-size: contain;
            margin-right: 0.5em;
        }
    }
}

.features img{
    display: none;
}

.testimonial{
    background-color: var(--primary-color);
    color: white;

    ul{


        li{
            background-color: #006bdc;
            text-align: center;
            padding: 2em 1em;
            width: 80%;
            margin: 0 auto 5em auto;
            border-radius: 1em;

            img{
                width:5em;
                height:5em;
                border: 5px solid #006bdc;
                border-radius: 50%;
                margin-top: -4.5em;
            }
        }
    }
}

h2{
    font-size:2em;
}
label{
    display: block;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

input, textarea{
    width:100%;
    padding: 0.8em;
    margin-bottom: 1em;
    border-radius: 0.3em;
    border: 1px solid gray;
    box-sizing: border-box;
}

input[type="submit"]{
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    font-size:1.3em;
    border: none;
    margin-bottom: 5em;
    border-radius: 5em;
    display:inline-block;
    padding: 0.8em 2em;
    width: unset;
    cursor: pointer;
}

iframe{

    width: 100%;
    height: 300px;
}

nav.menu-btn{
    position: block;
}

nav{
    position: fixed;
    z-index: 999;
    width: 60%;
    right: 0;
    top: 0;
    background-color: #20272e;
    height: 100vh;
    padding: 1em;

    ul.primary-nav{
        margin-top: 5em;
    }

    li{
        a{
            color: white;
            text-decoration: none;
            display: block;
            padding: 0.5em;
            font-size: 1.3em;
            text-align: right;
        }
        &:hover{
            font-weight: bold;
        }
    }
}

.mobile-menu-exit{
    float: right;
    margin: 0.5em;
    cursor: pointer;
}